body {
    background-color: beige;
    padding-top: 3vh;
    padding-bottom: 8vw;
}
.button {
    align-self: center;
    align-content: flex-end;
    text-align: right;
}
.appte {
    padding-top: 1vh;
    text-align: initial;
    color: royalblue;
    font-style: normal;
    text-decoration: slateblue;
    text-size-adjust: 5vh;
    font-size: x-large;

}
.emoj {
    padding-left: 0vw;
}
.emoj img{
    background-color: #FFFFFF;
	opacity: .8;
    padding-top: 0vh;
	width: 4vw;
	height: 7vh;
	border-radius: 50%;
	border:1px solid white;
	float:inline-start;
	font-family: "'Playfair Display',";
}
.countr {
    background-color: rgb(240, 240, 190);
}